<div class="footer container-col">
    <div class="fotter-col-1 footer-col">
        <div class="footer-logo">
            <p>Logo</p>
        </div>
        <div class="footer-media">
            <i class="fab fa-facebook-square icon"></i>
            <i class="fab fa-instagram-square icon"></i>
            <i class="fab fa-discord icon"></i>
        </div>
    </div>
    <div class="fotter-col-generic footer-col">
        <h4>Contacto</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga commodi ad dignissimos exercitationem
            voluptates beatae.</p>
        <div class="footer-links">
            <div>
                <h5>Soporte</h5>
                <p>correo@gmail.com</p>
            </div>
            <div>
                <h5>Donaciones</h5>
                <p>correo2@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="fotter-col-generic footer-col">
        <h4>Info</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. voluptates beatae.</p>
        <div class="footer-links footer-centered">
            <a href="" class="">
                <p>Inicio</p>
            </a>
            <a href="" class="">
                <p>Bases y reglas</p>
            </a>
            <a href="" class="">
                <p>Torneos</p>
            </a>
            <a href="" class="">
                <p>Inscripciones</p>
            </a>
        </div>
    </div>
    <div class="fotter-col-generic footer-col yellow-bg footer-doubts">
        <p>Envianos un mensaje, somos expertos respondiendo dudas</p>
        <i class="fas fa-angle-double-up icon"></i>
    </div>
</div>
</div> <!-- Parent container closing tag-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
<script src="assets/js/index.js"></script>
</body>

</html>