<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Copa Integrame</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
</head>
<body>
    <div class="parent-container">
        <div class="container nav-bar">
            <div class="nav-left">
                <a href="#logo-own">
                    <img class="nav-img" src="assets/images/logos/logoHug.png" alt="Lomargingo LigaIntegrame">
                </a>

                <a href="#logo-integrame">
                    <img class="nav-img nav-img-last" src="assets/images/logos/logo_integrame.svg" alt="Logo LigaIntegrame">
                </a>
            </div>
            <div class="nav-right">
                <a href="" class="nav-link">
                    <p>Inicio</p>
                </a>
                <a href="" class="nav-link">
                    <p>Bases y reglas</p>
                </a>
                <a href="" class="nav-link">
                    <p>Torneos</p>
                </a>
                <a href="" class="nav-link">
                    <p>Inscripciones</p>
                </a>
            </div>
        </div>
