<%- include('partials/header') %>
<div class="container header margin-botton-container">
    <h1> La leyenda eres tú</h1>
    <div class="yellow-bg header-block">
        <p>La leyenda eres tu por ayudar a recaudar fondos por una causa mas grande, forma parte de este torneo a
            beneficiencia del Sindrome de Down</p>
        <img class="gaming-hand" src="assets/images/gaming_hand.svg" alt="">
    </div>
    <div class="header-last-block">

        <a class="check-tournment" href="#RevisarTorneos">
            <p class="margin-right-s">Revisa nuestros torneos</p>
            <i class="fas fa-angle-double-down"></i>
        </a>
    </div>

</div>
<div class="container features margin-botton-container">
    <div class="features-images">
        <div class="features-title yellow-bg">
            <p class="margin-right-s">Inscripciones</p>
            <i class="fas fa-angle-double-right"></i>
        </div>
        <div class="bottom-square">
            <a href="#imagen1">1</a>
            <p class="inactive-text">/</p>
            <a class="inactive-text" href="#imagen1">2</a>
            <p class="inactive-text">/</p>
            <a class="inactive-text" href="#imagen1">3</a>
            <p class="inactive-text">/</p>
            <a class="inactive-text" href="#imagen1">4</a>
        </div>
    </div>
</div>
<div class="container-col objective margin-botton-container">
    <h3 class="title-section">Titulo Objetivo</h3>
    <p class="text-section">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis vel laboriosam maxime
        aliquid unde. Ratione, ad. Reiciendis atque assumenda suscipit optio sed eveniet modi quod voluptatem,
        blanditiis laudantium numquam eaque, quibusdam id explicabo cumque! Tenetur.</p>
    <div class="card-section">
        <div class="card">
            <div class="yellow-bg card-title">
                <p>Compite</p>
            </div>
            <i class="fas fa-fist-raised icon"></i>
            <p class="card-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum porro maiores ex ullam, praesentium
                tempore laudantium pariatur fuga molestiae. Amet.
            </p>
        </div>
        <div class="card">
            <div class="yellow-bg card-title">
                <p>Asciende</p>
            </div>
            <i class="fas fa-mountain icon"></i>
            <p class="card-content">
                Lorem ipsum. Nostrum porro maiores ex ullam, praesentium tempore laudantium pariatur fuga molestiae.
                Amet.
            </p>
        </div>
        <div class="card">
            <div class="yellow-bg card-title">
                <p>Alcanza la victoria</p>
            </div>
            <i class="fas fa-trophy icon"></i>
            <p class="card-content">
                Lorem ipsum dolor sit amet fuga molestiae. Amet.
            </p>
        </div>
    </div>
</div>
<div class="container-col calendar margin-botton-container">
    <h3 class="title-section">Calendario</h3>
    <p class="text-section">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis vel laboriosam maxime
        aliquid unde. Ratione, ad. Reiciendis atque assumenda suscipit optio sed eveniet modi quod voluptatem,
        blanditiis laudantium numquam eaque, quibusdam id explicabo cumque! Tenetur.</p>
    <div class="calendar-image">

    </div>
</div>
<div class="container-col bases margin-botton-container">
    <h3 class="title-section">Bases del torneo</h3>
    <p class="text-section">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis vel laboriosam maxime
        aliquid unde. Ratione, ad. Reiciendis atque assumenda suscipit optio sed eveniet modi quod voluptatem,
        blanditiis laudantium numquam eaque, quibusdam id explicabo cumque! Tenetur.</p>
    <div class="bases-container">
        <div class="bases-container-r">
            <div class="bases-block">
                <div class="yellow-bg bases-square">
                    <i class="fas fa-sitemap icon"></i>
                </div>
                <div class="bases-content">
                    <h4>Rondas de clasificacion</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, omnis.</p>
                </div>
            </div>
            <div class="bases-block">
                <div class="yellow-bg bases-square">
                    <i class="fab fa-twitch icon"></i>
                </div>
                <div class="bases-content">
                    <h4>Casters por partida</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, omnis.</p>
                </div>
            </div>
        </div>
        <div class="bases-container-l">
            <div class="bases-block">
                <div class="yellow-bg bases-square">
                    <i class="fas fa-scroll icon"></i>
                </div>
                <div class="bases-content">
                    <h4>Battlefly</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, omnis.</p>
                </div>
            </div>
            <div class="bases-block">
                <div class="yellow-bg bases-square">
                    <i class="fas fa-child icon"></i>
                </div>
                <div class="bases-content">
                    <h4>Coronate como leyenda</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, omnis.</p>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container-col last-call margin-botton-container">
    <div class="call-top">
        <h2>Esperamos a leyendas como tú</h2>
        <a href="#inscripciones">
            <div class="call-inscriptions yellow-bg">
                <p class="margin-right-s">Inscripciones</p>
                <i class="fas fa-angle-double-right"></i>
            </div>
        </a>

    </div>
    <div class="call-bottom">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <a href="#torneoClash">
                    <img src="assets/images/clash.svg" alt="">
                </a>
                
            </div>
            <div class="item">
                <a href="torneoFortnite">
                    <img src="assets/images/fortnite.svg" alt="">
                </a>
                
            </div>
            <div class="item">
                <a href="torneoHs">
                    <img src="assets/images/hs.svg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="torneoLol">
                    <img src="assets/images/lol.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="donations container-col margin-botton-container">
    <h3 class="title-section">Donaciones</h3>
    <p class="text-section">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis vel laboriosam maxime
        aliquid unde. Ratione, ad. Reiciendis atque assumenda suscipit optio sed eveniet modi quod voluptatem,
        blanditiis laudantium numquam eaque, quibusdam id explicabo cumque! Tenetur.</p>
    <div class="container-donations">
        <img class="donations-logo" src="assets/images/logos/logo_integrame.svg" alt="">
    </div>
</div>

<%- include('partials/footer') %>